{
  "plugins": ["prettier-plugin-sort-imports"],
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  " ": "always",
  "useTabs": false,
  "arrowParens": "avoid"
}
